  /* dark turquise #00CED1
light sea green #20B2AA
salmon #FA8072
dark gray #333333
teal #008080
tomato #FF6347 */
body {
  background: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeDiv {
  height: 500px; 
  width: 100vw;
}

.navBar {
  font-size: 18px; 
  padding-bottom: 10px; 
}

.mainNav-none {
  display: none;
}

.mainNav li {
  text-align: center; 
  margin: 15px auto;
  list-style-type: none;
}

.navBar-toggle {
  position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer; 
    color: #008080;
    font-size: 24px;
}

.active {
  text-decoration: underline;
}

#logo {
  color: #008080;
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 20px;
  border: #008080 solid;
  padding: .3em;
}

.projectP {
  margin: 2em;
  font-size: 20px;
  color: #333333;
}

.resumeDiv {
  margin: auto;
  margin-top: 2em;
  width: 70vw; 
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.resume {
  width: 100%;
  height: auto;
}

.resumeButton {
  text-decoration: none;
  background-color: #FA8072;
  color: #333333;
  height: 3em;
  width: 15em;
  border-radius: 4px; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
}

.resumeButton:hover {
  background-color: #008080;
  color: whitesmoke;
}

#resumeIcon {
  padding-left: .5em;
  color: #333333;
}

.projectsDiv {
  border-top: #FA8072 10px solid; 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
}

.projectHolder {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: .5em;
  margin-top: 1.5em;
  width: 220px; 
  height: 300px;
  border: #333333 solid;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  transition: all .2s ease-in-out;
}

.projectHolder:hover {
  transform: scale(1.1)
}

.circle1 {
  height: 150px;
  width: 150px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRq6fEfqTXuu1Nr8mSn3bxibFeKziXhmJflSANm3EVg62pLUWPc');
  margin-top: 1em;
}

.circle2 {
  height: 150px;
  width: 150px;
  background-image: url('http://justcallmebeef-gdelivers.surge.sh/media/restaurant-hero-image.jpg');
  margin-top: 1em;
}

.circle3 {
  height: 150px;
  width: 150px;
  background-image: url('http://contembits.com.br/imagens/CapasNoticias/2015/tGCd3CGllRdIAqldDfFt.jpg');
  margin-top: 1em;
}

.circle4 {
  height: 150px;
  width: 150px;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSinr-HzwLuVyPh5HTtZHFQ9KnALbBxkAfQgNN7jllZ3qOPhRE4');
  margin-top: 1em;
}

.projectTitle {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}

.desc {
  margin: .3em;
  color: #333333;
  text-decoration: none;
}

.contactDiv {
 display: flex; 
 flex-wrap: flex; 
 flex-direction: column;
 align-items: center;
 margin-top: 5em;
}

#bigIcon:hover {
  color: #FA8072;
}

#bigIcon {
  font-size: 50px;
  color: #333333;
}

#bigIconPhone {
  font-size: 50px;
  color: #333333;
}

p {
  color: #333333;
}

ul li:hover{
  transform: scale(1.2);
}

@media only screen and (max-width: 770px) {

}

@media only screen and (min-width: 770px) {
  .navBar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }
  .mainNav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }
  .mainNav li {
    padding: 1em;
  }
  #icon {
    display: none;
  }
}

a {
  text-decoration: none
}